/* You can add global styles to this file, and also import other style files */
body {
  background-image: url(/assets/fondo.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.inicio {
  margin-block-start: 60px;
  margin-block-end: 10px;
}

.botones {
  float: right;
}

.botones button,
a {
  margin-right: 4px;
}

form button{
  margin-right: 4px;
}
