<div class="col-md-5 offset-md-3 inicio">
  <div class="card">
    <div class="card-body">
      <form>

        <!-- Artista -->
        <div class="card-body">
          <div class="input-group">
            <label class="input-group-text" for="inputGroupSelect02">Artista</label>
            <select name="idArtista" [(ngModel)]="artista_Grupo.idArtista" class="form-control" id="inputGroupSelect02"
              autofocus>
              <option selected disabled value="0">Selecciona un Artista</option>
              <option *ngFor="let artista of Artista" value="{{artista.idArtista}}">{{artista.Nombre}}</option>
            </select>
          </div>
        </div>

        <!-- Grupo -->
        <div class="card-body">
          <div class="input-group">
            <label class="input-group-text" for="inputGroupSelect02">Grupo</label>
            <select name="idGrupo" [(ngModel)]="artista_Grupo.idGrupo" class="form-control" id="inputGroupSelect02">
              <option selected disabled value="0">Selecciona un Grupo</option>
              <option *ngFor="let Grupo of Grupo" value="{{Grupo.idGrupo}}">{{Grupo.Nombre}}</option>
            </select>
          </div>
        </div>

        <!-- Inicio -->
        <div class="card-body">
          <div class="input-group">
            <label class="input-group-text">Fecha de Entrada</label>
            <input type="date" [(ngModel)]="artista_Grupo.FechaInicio" name="FechaInicio" class="form-control" />
          </div>
        </div>

        <!-- Fin -->
        <div class="card-body">
          <div class="input-group">
            <label class="input-group-text">Fecha Salida</label>
            <input type="date" [(ngModel)]="artista_Grupo.FechaFin" name="FechaFin" class="form-control" />
          </div>
        </div>

        <!-- Instrumentos -->
        <div class="card-body">
          <div class="input-group">
            <label class="input-group-text" for="inputGroupSelect02">Instrumento</label>
            <select name="idInstrumento" [(ngModel)]="artista_Grupo.idInstrumento" class="form-control"
              id="inputGroupSelect02">
              <option selected disabled value="0">Selecciona un Instrumento</option>
              <option *ngFor="let instrumentos of Instrumentos" value="{{instrumentos.idInstrumento}}">
                {{instrumentos.Nombre}}</option>
            </select>
          </div>
        </div>

        <button type="button" class="btn btn-success" (click)="edit ? actualiza() : add()">
          Aceptar
        </button>
        <a href="/artista_Grupo" type="button" class="btn btn-primary">Regresar</a>
      </form>
    </div>
  </div>
</div>

<div class="col-md-4 inicio">
  <div class="card card-body text-center">
    <h3 style="text-transform: uppercase;">
      {{artista_Grupo.Codigo}} - {{artista_Grupo.idArtista == 0 ? 'Artista' : artista_Grupo.idArtista}}
    </h3>
    <p>{{artista_Grupo.idGrupo == 0 ? 'Grupo' : artista_Grupo.idGrupo}}</p>
    <p>{{artista_Grupo.FechaInicio | date: 'dd-MMMM-yyyy'}}</p>
    <p>{{artista_Grupo.FechaFin | date: 'dd-MMMM-yyyy'}}</p>
    <p>{{artista_Grupo.idInstrumento == 0 ? 'Instrumento' : artista_Grupo.idInstrumento}}</p>
  </div>
</div>
