<div class="inicio">
  <a type="button" class="btn btn-success" href="/artista_Grupo/agregar">Agregar Integrante</a>
  <a href="/grupo" type="button" class="btn btn-primary">Regresar</a>
</div>

<div class="col-md-4" *ngFor="let artista of artistas" style="margin-bottom: 1.5rem;">
  <div class="card text-center">
    <div class="card-header text-white d-flex justify-content-between align-items-center">
      {{artista.NombreArtistico}}
      <div class="botones">
        <button class="btn btn-danger" (click)="borrar(artista.Codigo)">
          <i class="far fa-trash-alt"></i>
        </button>
        <a [routerLink]="['/artista_Grupo/actualizar', artista.Codigo]" class="btn btn-info btn-block"><i
            class="fa-solid fa-pen-to-square"></i></a>
      </div>
    </div>
    <img [src]="artista.Foto == '' ? '/assets/noImagen.png' : artista.Foto " alt="Imagen del Artista">
    <div class="card-body">
      <p style="font-weight: bold;">Periodo</p>
      <p>{{artista.Periodo}}</p>
      <p style="font-weight: bold;">Edad</p>
      <p>{{artista.Edad}}</p>
      <p style="font-weight: bold;">Instrumento que toca</p>
      <p>{{artista.Instrumento}}</p>
      <p style="font-weight: bold;">Tipo Voz</p>
      <p>{{artista.TipoVoz}}</p>
      <p style="font-weight: bold;">Nacionalidad</p>
      <p>{{artista.Pais}}</p>
      <a [routerLink]="['/artista/actualizar', artista.idArtista]" class="btn btn-info btn-block">Editar</a>
    </div>
  </div>
</div>
